body,
html {
    margin: 0;
    height: 100%;
}


/* ------- Page Container------- */

.page-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.menu {
    width: 30%;
    background-color: red;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.logo-title {
    font-family: fantasy;
    color: white;
    display: flex;
    justify-content: center;
}

.logo {
    height: 80px;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-menu-btn {
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 35px;
    margin-bottom: 20px;
    text-align: initial;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
}

.nav-menu-btn:hover {
    background-color: white;
    color: black;
}

.content-page {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 31px;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 300px;
    height: 20px;
}

.search-button {
    margin-right: 28px;
}

.list-container {
    width: 80%;
    border: 1px solid darkgray;
    border-radius: 10px;
    background-color: #e4e4e4;
    padding: 15px;
    box-sizing: border-box;
}

.item {
    display: flex;
    align-items: center;
}

.btn-item {
    display: flex;
    justify-content: flex-start;
    background: transparent;
    width: 100%;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn-item:hover {
    color: red;
}

.txt-btn {
    font-size: 16px;
    margin-right: 20px;
}


/* ------- Modal Cadastar Chamado ------- */

.mascara {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.modal-cadastrar-pessoa {
    position: fixed;
    top: 25%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    background: #bdc3c7;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.modal-cadastrar-pessoa.active,
.mascara.active {
    visibility: visible;
    opacity: 1;
}

input.btn-cadastrar {
    width: 100%;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 5px;
}

.cad-input {
    display: flex;
    width: 100%;
    border-radius: 5px;
    min-height: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


/* Form Doação Entrada */

.form-part {
    width: 100%;
    display: flex;
    align-items: center;
    height: 35px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-doacao-entrada {
    width: 50%;
}

.text-box {
    padding-left: 10px;
}


/* ------- Abas ------- */

.item-entrada,
.item-saida {
    display: none;
}

.item-entrada.active-item,
.item-saida.active-item {
    display: block;
}

.esconder-aba {
    display: none;
}

.header-list th {
    background-color: black;
    color: white;
    padding: 5px 15px;
}

.row-table td {
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.btn-pessoa {
    border: 2.2px solid red;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    padding: 4px;
    color: black;
}

.btn-pessoa:hover {
    background-color: #bdc3c7;
}

.label-formulario {
    font-weight: bold;
    font-family: monospace;
    font-size: large;
}

.btn-cadastrar {
    width: 100%;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.btn-cadastrar:hover {
    background-color: #bdc3c7;
}

.info {
    font-family: monospace;
    font-size: 19px;
}

.btn-pessoa.doar {
    border-color: black;
    background-color: red;
    color: white;
}